<div class="adv">
    <img class="adv-banner" src="http://wx.51self.com/uploads/sucai/1437101825367.png">
    <div class="adv-box on" id="adv-box">
        <img class="adv-rect" src="http://wx.51self.com/uploads/sucai/1437102013746.png"/>
        <ul class="adv-block" id="adv-block">
            <li><a href=""><img src="" /></a></li>
            <li><a href=""><img src="" /></a></li>
            <li><a href=""><img src="" /></a></li>
            <li><a href=""><img src="" /></a></li>
            <li class="adv-shade" id="adv-shade"><a href=""><img src="" /></a></li>
            <li><a href=""><img src="" /></a></li>
            <li><a href=""><img src="" /></a></li>
            <li><a href=""><img src="" /></a></li>
            <li><a href=""><img src="" /></a></li>
        </ul>
    </div>
</div>