

    <header class="site-header">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-header">
            <a class="navbar-brand" href=""><img src="images/home/2.png" alt="" class="img-hook"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="">成功案例</a></li>
              <li><a href="">关于我们</a></li>
            </ul>
            <ul class="navbar-button list-inline pull-right">
              <!-- <li><a href="" class="user"></a></li> -->
              <li class="navbar-sign" ng-click="send()">注册</a></li>
              <li class="navbar-login" ng-click="send()">登录</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="site-main">
      <div class="page-1">
        <img src="images/home/1.jpg" alt="" class="">
        <div class="page-1-overlay"></div>

        <div class="text-info">
          <div class="">
            <h1 class="title">乐摇，让生活动起来</h1>
            <p class="">摇动次数：<span>986712378687</span> 次</p>
          </div>
          <a ng-click="send()" class="btn btn-primary btn-lg">立即接入</a>
        </div>
      </div>
      <div class="page-2">
        <div class="container">
          <div class="show-list">
            <div class="col-sm-5 grid">
              <figure class="effect-lily">
                <img src="images/home/3.jpg" alt="img01"/>
                <figcaption>
                    <h2><span>学生社团</span></h2>
                    <p>Lily likes to play with crayons and pencils</p>
                    <a href="http://www.lanrentuku.com/" target="_blank">View more</a>
                </figcaption>     
              </figure>
            </div>
            <div class="col-sm-7 detail">
              <div class="">
                <div class="col-sm-6">
                  <div class="case">
                    <h4>成功案例</h4>
                    <div class="case-icon">
                      <img src="images/home/5.jpg" alt="img01"/>
                      <span>97</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="org">
                    <h4>合作组织</h4>
                    <div class="org-icon">
                      <img src="images/home/6.jpg" alt="img01"/>
                      <span>47</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 more-detail">
                  <div class="col-sm-4">
                    <img src="images/home/4.jpg" alt="img01"/>
                  </div>
                  <div class="col-sm-8">
                    <ul>
                      <li>乐摇达人：<span class="user_name">Betrayer</span></li>
                      <li>总共摇过：<span class="user_num">9807</span>次</li>
                      <li>消耗热量：<span class="user_ener">987</span>千卡</li>
                      <li>这相当于：  跑步<span class="user_run">10</span>圈</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-3">
        <div class="container text-center">
          <div class="divide">
            <img src="images/home/7.png" alt="" class="">
          </div>
          <h1>成功案例</h1>
          <div class="col-sm-6">
            <img src="images/home/8.jpg" alt="img01"/>
          </div>
          <div class="col-sm-5 pull-right info">
            <div class="art-center">
              <span>艺术中心（Art Center）</span> 是上海交通大学校内的一个优秀学生组织。 每年它会承办校内的四场大型文艺晚会。
            </div>
            <div class="more-center">
              <li>迎新晚会</li>
              <li>校园十大歌手大赛</li>
              <li>绿洲音乐节</li>
              <li>vos毕业生晚会</li>
            </div>
            <div class="conclusion">
              乐摇的成功应用使得上述晚会的<span>趣味性、互动性</span>更强。
            </div>
          </div>
          <div class="bottom">
            <div class="arrow-down"></div>
          </div>
        </div>
      </div> 
      <div class="page-4">
        <div class="container text-center">
          <h1>如何接入</h1>
          <div class="col-sm-12">
            <div class="apply">
              <img src="images/home/9.jpg" alt="">
              <div class="apply_info">
                <!-- <h2>1.申请</h2> -->
                1.申请
              </div>
            </div>
            <div class="arrange">
              <div class="arrange_info">
                2.布置ibeacon
              </div>
              <img src="images/home/11.jpg" alt="">      
            </div>
            <div class="swing">
              <img src="images/home/10.jpg" alt="">
              <div class="swing_info">
                3.让大家摇起来
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="arrow-down"></div>
          </div>
        </div>
      </div> 
      <div class="page-5">
        <div class="container text-center">
          <h1>合作社团</h1>
          <div class="col-sm-12 community">
            <div class="art-center five">
              <div class="logo"><img src="images/home/16.png" alt="" class="img-responsive img-circle" /></div>
              <p>艺术中心</p>
            </div>
            <div class="SJTU-photo five">
              <div class="logo"><img src="images/home/15.png" alt="" class="img-responsive img-circle" /></div>
              <p>SJTU摄影学会</p>
            </div>
            <div class="master five">
              <div class="logo"><img src="images/home/14.png" alt="" class="img-responsive img-circle" /></div>
              <p>大师讲坛</p>
            </div>
            <div class="run-center five">
              <div class="logo"><img src="images/home/13.png" alt="" class="img-responsive img-circle" /></div>
              <p>跑虫俱乐部</p>
            </div>
            <div class="volunteer five">
              <div class="logo"><img src="images/home/12.png" alt="" class="img-responsive img-circle" /></div>
              <p>艺术中心</p>
            </div>
          </div>
          <div class="ellipsis">··· ···</div>
          <div class="words">这里虚席以待， 期待您的加入</div>
          <a href="" class="btn btn-primary btn-lg go-to">立即加入</a>
        </div>
      </div> 
    </div>

    <footer class="site-footer">
      <div class="more_info container">
        <span class="footer-team">关于交大创客IF</span>
        <span class="connect">联系我们</span>
        <span class="copyright">Copyright © 2015 LeYao. All Rights Reserved.</span>
      </div>
    </footer>
      
    
  
